$path: '../assets/fonts';
/*
@font-face {
  font-family: 'Futura Std';
  src: url('#{$path}/FuturaStd-Condensed.eot');
  src: url('#{$path}/FuturaStd-Condensed.eot?#iefix') format('embedded-opentype'),
      url('#{$path}/FuturaStd-Condensed.woff') format('woff'),
      url('#{$path}/FuturaStd-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/