$path: '../../assets/fonts';

@font-face {
  font-family: 'Exotic';
  src: url('#{$path}/exotic.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Tropic';
  src: url('#{$path}/tikitropic.ttf');
  font-weight: normal;
  font-style: normal;
}