@import '~scss/theme/variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

html.desktop {
  font-size: get-desktop-vw(10px);
  @media screen and (min-aspect-ratio: 1920/1080) {
    font-size: get-desktop-vh(10px);
  }
}

html.mobile {
  -webkit-overflow-scrolling: touch;
  
  font-size: get-mobile-vw(10px);
}

body {
  font-size: get-rem(16px);
}
