@import 'colors';
@import 'mixins';

/*
$section-padding--mobile: 50px;
$section-padding: 75px;
$app-height: 806px;
$app-height--mobile: 2120px;

$header: 145px;
$header--mobile: 112px;
*/

$easing: cubic-bezier(0.23, 1, 0.32, 1);